<!DOCTYPE html>
<html>
<head>
  <title>CookAndStock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <div id='user_nav'>
    <% if user_signed_in? %>
        Vous êtes connecté en tant que <%= current_user.email %>
        <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %>
        <%= link_to "Modifiez vos données", edit_user_registration_path %>
    <% elsif request.env['PATH_INFO']== '/users/sign_in' ||\
             request.env['PATH_INFO']== '/users/sign_up' %>
        <%= link_to "Connexion", new_user_session_path %> ou
        <%= link_to "Enregistrez-vous", new_user_registration_path %>
    <% end %>
  </div> -->

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">Cook and Stock</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if can? :read, Dish %>
            <li class="<%= 'active' if params[:controller] == 'dishes' %>"><%= link_to('Dishes', dishes_path) %></li>
          <% end %>
          <% if can? :manage, User %>
            <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to('Users', users_path) %></li>
          <% end %>
          <% if can? :manage, Stock %>
            <li class="<%= 'active' if params[:controller] == 'stocks' %>"><%= link_to('Stocks', stocks_path) %></li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <%= current_user.email %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to(destroy_user_session_path, method: :delete) do %>
                    Déconnexion <i class="glyphicon glyphicon-off"></i>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <!-- /container -->
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
