<%= form_for(@ingredient_stock) do |f| %>
  <% if @ingredient_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient_stock.errors.count, "error") %> prohibited this ingredient_stock from being saved:</h2>

      <ul>
      <% @ingredient_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.number_field :ingredient_id %>
  </div>
  <div class="field">
    <%= f.label :stock_id %><br>
    <%= f.number_field :stock_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :quantity_unit %><br>
    <%= f.text_field :quantity_unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
