<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient:</strong>
  <%= @ingredient_stock.ingredient_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @ingredient_stock.stock_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ingredient_stock.quantity %>
</p>

<p>
  <strong>Quantity unit:</strong>
  <%= @ingredient_stock.quantity_unit %>
</p>

<%= link_to 'Edit', edit_ingredient_stock_path(@ingredient_stock) %> |
<%= link_to 'Back', ingredient_stocks_path %>
