<% if flash[:notice] %>
    <div class="alert alert-success notice fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> <%= notice %>
    </div>
<% end %>
<% if flash[:alert] %>
    <div class="alert alert-danger notice fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Warning!</strong> <%= notice %>
    </div>
<% end %>

<h1>Listing Roles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to 'Show', role, :class => "btn btn-sm btn-default" %>
        <%= link_to 'Edit', edit_role_path(role), :class => "btn btn-sm btn-default" %>
        <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
