<%= form_for(@dish) do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <h2>Ingredients</h2>
  <table class="table">
      <thead>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Update</th>
          <th>Delete</th>
      </thead>
      <tbody>
          <% @dish.dish_ingredients.each do |ingr| %>
          <tr>
              <td><%=ingr.ingredient.name%></td>
              <td><%=ingr.quantity%></td>
              <td><%=ingr.quantity_unit%></td>
              <td><%=link_to "Update", edit_dish_ingredient_path(ingr.id), :method => :get%></td>
              <td><%= link_to "Delete", ingr, method: :delete%></td>
          </tr>
          <%end%>
      </tbody>
  </table>

  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>
