<% if flash[:notice] %>
  <div class="alert alert-success notice fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> <%= notice %>
  </div>
<% end %>
<% if flash[:alert] %>
    <div class="alert alert-danger notice fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Warning!</strong> <%= flash[:alert] %>
    </div>
<% end %>

<h1>Listing Dishes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Directions</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= dish.directions %></td>
        <td>
          <%= link_to 'Show', dish_path(dish), :class => "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_dish_path(dish), :class => "btn btn-sm btn-default" %>
          <%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Dish', new_dish_path, :class => "btn btn-success" %>
