<% if flash[:notice] %>
    <div class="alert alert-success notice fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> <%= notice %>
    </div>
<% end %>

<h1>Listing Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.roles_as_text %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-sm btn-default"%>
          <%= link_to 'Edit Roles', edit_roles_user_path(user), :class => "btn btn-sm btn-primary" %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
