<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @dish_ingredient.dish_id %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @dish_ingredient.ingredient_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @dish_ingredient.quantity %>
</p>

<p>
  <strong>Quantity unit:</strong>
  <%= @dish_ingredient.quantity_unit %>
</p>

<%= link_to 'Edit', edit_dish_ingredient_path(@dish_ingredient) %> |
<%= link_to 'Back', dish_ingredients_path %>
